  @font-face {
    font-family: 'Mayan Open Sans';
    src: url(fonts\mayan_num_open_sans.ttf);
  }
  @font-face {
    font-family: 'Babelstone Mayan';
    src: url(fonts\babelstone-mayan.otf);
  }

body {
  background: hsl(20, 10.34%, 94.31%);
  color: hsl(0, 0%, 29.02%);
  font-family: "Times New Roman";
  max-width: 1000px;
  margin: auto;
  }

a:visited {
  color: hsl(0, 0%, 29.02%);
}

a:link {
  color: hsl(180, 92.21%, 30.2%);
}

.navigation {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 10px;
  z-index: 1;
  }

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsl(20, 10.34%, 94.31%);
}

.navigation li {
  float: left;
}

.navigation li a {
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  border-right: 1px solid hsl(180, 92.21%, 30.2%);
}

.navigation li:last-child {
  border-right: none;
}

.navigation .active {
  border-bottom: 2px solid teal;
  color: rgb(242,240,239);
}

h1{ 
  margin: auto; 
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dotted hsl(180, 92.21%, 30.2%);
  padding: 20px;
  max-width: 1000px;
  text-align: center;
  }

.title h1{
  font-family: Verdana;
  border: 3px solid hsl(180, 92.21%, 30.2%);
  background: hsl(20, 10.34%, 94.31%);
  background: radial-gradient(circle, rgba(242, 230, 239, 1) 0%, rgba(6, 148, 148, 0.58) 100%, rgba(6, 148, 148, 0.99) 100%);
  text-align: center;
  padding: 30px;
  }


h2{
  margin: auto; 
  margin-top: 10px;
  border: 2px dotted hsl(180, 92.21%, 30.2%);
  padding: 20px;
  max-width: 1000px;
  text-align: center;
  }

.container-guide {
  border: 2px solid hsl(0, 0%, 29.02%);
  padding: 10px;
  margin: 10px auto;
}

.color-container {
  width: 100%;
}

.color-panel { 
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
  border: 1px solid hsl(0, 0%, 29.02%);
}

.teal {
  background-color: hsl(180, 92.21%, 30.2%);
  color: hsl(20, 10.34%, 94.31%);
  font-weight: 700;
}

.dimgray {
  color: hsl(180, 92.21%, 30.2%); 
  background-color: hsl(0, 0%, 29.02%);
  font-weight: 700;
}

.off-white {
  background-color: hsl(20, 10.34%, 94.31%);
  color: hsl(0, 0%, 29.02%);
  font-weight: 700;
}

.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label { 
  font-size: 20px;
  text-decoration: underline;
}

.regular {
  font-style: normal;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.Verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.TNR {
  font-family: 'Times New Roman', Times, serif
}

.Mayan-Open{
  font-family: 'Mayan Open Sans', sans-serif;
}

.Babelstone {
  font-family: 'Babelstone Mayan', sans-serif;
}

p{
  margin: auto; 
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  color: hsl(0, 0%, 29.02%);
  font-family: "Times New Roman";  
  }