
/* CSS HEX
dark-cyan: #0a9090;
davys-gray: #4a4a4a;
african-violet: #9f84bd;
white-smoke: #f2f0ef;
navy-blue: #150578;*/

/* CSS HSL
dark-cyan: hsla(180, 87%, 30%, 1);
davys-gray: hsla(0, 0%, 29%, 1);
african-violet: hsla(268, 30%, 63%, 1);
white-smoke: hsla(20, 10%, 94%, 1);
navy-blue: hsla(248, 92%, 25%, 1);*/

/* SCSS HEX
dark-cyan: #0a9090ff;
davys-gray: #4a4a4aff;
african-violet: #9f84bdff;
white-smoke: #f2f0efff;
navy-blue: #150578ff;*/

/* SCSS HSL 
dark-cyan: hsla(180, 87%, 30%, 1);
davys-gray: hsla(0, 0%, 29%, 1);
african-violet: hsla(268, 30%, 63%, 1);
white-smoke: hsla(20, 10%, 94%, 1);
navy-blue: hsla(248, 92%, 25%, 1);*/

/* SCSS RGB 
dark-cyan: rgba(10, 144, 144, 1);
davys-gray: rgba(74, 74, 74, 1);
african-violet: rgba(159, 132, 189, 1);
white-smoke: rgba(242, 240, 239, 1);
navy-blue: rgba(21, 5, 120, 1);
*/


@font-face {
  font-family: 'Mayan Open Sans';
  src: url(fonts\mayan_num_open_sans.ttf);
  }
@font-face {
  font-family: 'Babelstone Mayan';
  src: url(fonts\babelstone-mayan.otf);
  }

body {
  background: hsl(6, 10%, 94%);
  color: hsl(0, 0%, 29.02%);
  font-family: "Times New Roman";
  max-width: 1000px;
  margin: auto;
  }
  
a:visited {
  color: hsl(268.4, 30.2%, 62.9%);
}

a:link {
  color: hsl(248.3, 92%, 24.5%);
}


h1{ 
  margin: auto; 
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dotted teal;
  padding: 20px;
  max-width: 1000px;
  text-align: center
  } 


.title h1{
  font-family: Verdana;
  border: 3px solid teal;
  background: hsla(20, 10%, 94%, 1);
  background: radial-gradient(circle, rgba(242, 230, 239, 1) 0%, rgba(6, 148, 148, 0.58) 100%, rgba(6, 148, 148, 0.99) 100%);
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  }

  
h2{
  margin: auto; 
  margin-top: 10px;
  border-bottom: 2px dotted teal;
  padding: 30px, 30px, 5px, 30px;
  max-width: 1000px;
  text-align: center;
  } 

h3, h4, p{
  margin: auto; 
  margin-top: 10px;
  max-width: 1000px;
  }


p{
  padding-left: 20px;
  padding-right: 20px;
  }

.hanging p{
  text-indent: -36px; 
  padding-left: 36px;
  max-width: 1000px;
  }

#contact {
  text-align: center;
}

li{
  margin: auto; 
  padding-top: 10px;
  max-width: 1000px;
  }
 
.content{
  margin: 30px auto; 
  padding-top: 10px;
  max-width: 1000px;
  line-height: 1.5;
}

#about-me {
  text-indent: 40px;
  }

.handcoded img{
  display: block;
  margin: auto;
  padding: 5px;
  }

footer{
  margin: 20px auto;
}
  
/* Maya Cross */  
  
.cross{ 
  margin-left: auto;
  margin-right: auto;
  } 

.cross table{  
  border: 1px solid teal; 
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.cross th, td {
  padding: 15px;
  text-align: center;
}  
  



/* Navigation Menu*/

.navigation {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 10px;
  z-index: 1;
  }

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsla(20, 10%, 94%, 1);;
}

.navigation li {
  float: left;
}

.navigation li a {
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  border-right: 1px solid hsl(248.3, 92%, 24.5%);
  color: hsl(248.3, 92%, 24.5%);
  background-color: hsla(20, 10%, 94%, 1);
}

.navigation li:last-child {
  border-right: none;
}

.navigation .active {
  border-bottom: 2px solid hsl(248.3, 92%, 24.5%);
}



/*Grid Layout for CV*/

.cv {
  line-height: 1.5;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu content content"
    "footer footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  padding: 5px;
  }

.container > div.title {
  grid-area: header;
  width: 100%;
  }

.container > table_of_contents {
  grid-area: menu;
  max-width: 200px;
  padding: 10px;
  }

.container > cv {
  grid-area: content;
  max-width: 800px;
  padding: 10px;
  }

.table_of_contents {
    position: sticky;
    top: 50px;
    height: fit-content;
}


/*Buttons */


#buttons {
  margin: auto;
  width: fit-content;
}


.button {
  list-style-type: none;
  font-size: 16px;
  font-family: Verdana;
  text-transform: lowercase;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  margin: 30px, 5px;
  border: 2px solid teal;
  border-radius: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: hsla(20, 10%, 94%, 1); 
  color: hsl(0, 0%, 29.02%); 
}

.button:hover {
  background-color: hsl(180, 92.21%, 30.2%);
  color: hsla(20, 10%, 94%, 1);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
  background-color: hsl(180, 92.21%, 30.2%);
  box-shadow: 0 5px hsl(0, 0%, 29.02%);
  transform: translateY(4px);
}

/* Style Guide */

.container-guide {
  border: 2px solid hsl(0, 0%, 29.02%);
  padding: 10px;
  margin: 10px auto;
}

.color-container {
  width: 100%;
}

.color-panel { 
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
  border: 1px solid hsl(0, 0%, 29.02%);
}

#teal {
  background-color: hsl(180, 92.21%, 30.2%);
  color: hsla(20, 10%, 94%, 1);
  font-weight: 700;
}

#dimgray {
  color: hsla(20, 10%, 94%, 1); 
  background-color: hsl(0, 0%, 29.02%);
  font-weight: 700;
}

#off-white {
  background-color: hsla(20, 10%, 94%, 1);
  color: hsl(0, 0%, 29.02%);
  font-weight: 700;
}

#african-violet {
  background-color: hsl(268.4,30.2%,62.9%);
  font-weight: 700;
  color:  hsl(6, 10%, 94%);
}

#navy-blue {
  background-color: hsl(248.3,92%,24.5%);
  font-weight: 700;
  color: hsl(6, 10%, 94%);
}

.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label { 
  font-size: 20px;
  text-decoration: underline;
}

.regular {
  font-style: normal;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.Verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.TNR {
  font-family: 'Times New Roman', Times, serif
}

.Mayan-Open{
  font-family: 'Mayan Open Sans', sans-serif;
}

.Babelstone {
  font-family: 'Babelstone Mayan', sans-serif;
}

