/*
1. Basics
2. Typography
3. Navigation Menu
4. Grid Layout for CV
5. Buttons
6. Images
7. Maya Cross
8. Style Guide
9. Color Palette
*/


/*
1. Basics
============================
*/

html,
body { 
  font-size: 20px;
  background: hsl(6, 10%, 94%);
  color: hsl(0, 0%, 29.02%);
  font-family: "Times New Roman";
}

body {
  max-width: 1000px;
  margin: auto;
  }

@media only screen and (max-width: 800px) {
  .cvgrid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .cv_toc{
    display: none;
  }
  nav {
    min-height: 1.5rem;
    width: 100%;
  }
  .button{
    display:block;
  }


}





/*
2. Typography
============================
*/

@font-face {
  font-family: 'Mayan Open Sans';
  src: url(fonts\mayan_num_open_sans.ttf);
  }
@font-face {
  font-family: 'Babelstone Mayan';
  src: url(fonts\babelstone-mayan.otf);
  }


  
a:visited {
  color: hsl(268.4, 30.2%, 62.9%);
}

a:link {
  color: hsl(248.3, 92%, 24.5%);
}


h1{ 
  margin: auto; 
  margin-top: 1rem;
  border: 2px dotted teal;
  padding: 1rem;
  max-height: 200px;
  text-align: center;
  font-size: 2rem;
  } 


.title h1{
  font-family: Verdana;
  border: 3px solid teal;
  background: hsla(20, 10%, 94%, 1);
  background: radial-gradient(circle, rgba(242, 230, 239, 1) 0%, rgba(6, 148, 148, 0.58) 100%, rgba(6, 148, 148, 0.99) 100%);
  text-align: center;
  padding: 1.5rm;
  margin-top: 1.5rem;
  }

  
h2{
  margin: auto; 
  margin-top: .5rem;
  border-bottom: 2px dotted teal;
  padding: 1.5rem, 1.5rem, .25rem, 1.5rem;
  text-align: center;
  } 

h3, h4, p{
  margin: auto; 
  margin-top: .5rem;
  }


p{
  padding-left: 1rem;
  padding-right: 1rem;
  }

.hanging p{
  text-indent: -1.8rem; 
  padding-left: 1.8rem;
  }

#contact {
  text-align: center;
}

li{
  margin: auto; 
  padding-top: .5rem;
  }
 
main{
  margin: 1.5rem auto; 
  max-width: 1000px;
  line-height: 1.5;
}

#about-me {
  text-indent: 2rem;
  }

.handcoded img{
  display: block;
  margin: auto;
  padding: .25rem;
  }

.updates{
  height: auto;
  width: 75%;
  border: .1rem solid hsl(268.4, 30.2%, 62.9%);
  padding: .5rem;
  margin: auto;
}

footer{
  margin: 1rem auto;
}





/*
3. Navigation Menu
============================
*/

nav {
  font-weight: 100;
  letter-spacing: .1rem;
  padding: .5rem;
  z-index: 1;
  font-size: 1rem;
  height: 1rem;
  }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsla(20, 10%, 94%, 1);
}

nav li {
  float: left;
}

nav li a {
  display: block;
  text-align: center;
  padding: .25rem .5rem;
  text-decoration: none;
  border-left: 1px solid hsl(248.3, 92%, 24.5%);
  color: hsl(248.3, 92%, 24.5%);
  background-color: hsla(20, 10%, 94%, 1);
}

nav li:last-child {
  border-right: 1px solid hsl(248.3, 92%, 24.5%);
}

nav .active {
  border-bottom: 2px solid hsl(248.3, 92%, 24.5%);
  font-weight: bold;
}



/*
4. Grid Layout for CV - take 2
===========================
*/

.cvgrid{ 
  display: grid;
  width: 50rem;                                         
  grid-template: repeat(1, 1fr) / 1fr 3fr;
  gap: .5rem; 
}



.cv_toc{
  grid-area: 2/1/3/2;
  position: sticky;
  top: 2.5rem;
  height: fit-content;
}

.cv_content li{
  list-style: none;
}

.cv_content .hanging li{
  text-indent: -1.8rem; 
  padding-left: 1.8rem;
  }


.cv_title {
  grid-area: 1/1/1/3;
}


/*
5. Buttons 
================================
*/


#buttons {
  margin: auto;
  width: fit-content;
}

.button {
  font-size: .75rem;
  font-family: Verdana;
  text-transform: lowercase;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: .75rem 1.25rem;
  margin: 1.5rem, .25rem;
  border: 2px solid hsl(248.3, 92%, 24.5%);
  border-radius: .6rem;
  cursor: pointer;
  background-color: hsla(20, 10%, 94%, 1); 
  color: hsl(0, 0%, 29.02%); 
}

.button:hover {
  background-color: hsl(268.4, 30.2%, 62.9%);
  color: hsla(20, 10%, 94%, 1);
  box-shadow: 0 .6rem .8rem 0 rgba(0,0,0,0.24), 0 .85rem 2.5rem 0 rgba(0,0,0,0.19);
  transition: color 0.5s, box-shadow 0.5s;
}

.button:active {
  background-color: hsl(268.4, 30.2%, 62.9%);
  box-shadow: 0 .25rem hsl(0, 0%, 29.02%);
  transform: translateY(4px);
}


/*
6. Images
============================
*/

.imagecontainer {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

.imagecontainer img {
  max-width: 100%;
  height: auto;
  display: block;
}



/*
7. Maya Cross 
============================
*/  
  
.cross{ 
  margin-left: auto;
  margin-right: auto;
  } 

.cross table{  
  border: 1px solid teal; 
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.cross th, td {
  padding: .75rem;
  text-align: center;
}  


/* 
8. Style Guide 
============================
*/

.container-guide {
  border: .1rem solid hsl(0, 0%, 29.02%);
  padding: .5rem;
  margin: .5rem auto;
}

.color-container {
  width: 100%;
}

.color-panel { 
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 1rem auto;
  min-height: 5rem;
  border: 1px solid hsl(0, 0%, 29.02%);
}

#teal {
  background-color: hsl(180, 92.21%, 30.2%);
  color: hsla(20, 10%, 94%, 1);
  font-weight: 700;
}

#dimgray {
  color: hsla(20, 10%, 94%, 1); 
  background-color: hsl(0, 0%, 29.02%);
  font-weight: 700;
}

#off-white {
  background-color: hsla(20, 10%, 94%, 1);
  color: hsl(0, 0%, 29.02%);
  font-weight: 700;
}

#african-violet {
  background-color: hsl(268.4,30.2%,62.9%);
  font-weight: 700;
  color:  hsl(6, 10%, 94%);
}

#navy-blue {
  background-color: hsl(248.3,92%,24.5%);
  font-weight: 700;
  color: hsl(6, 10%, 94%);
}

.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label { 
  font-size: 1rem;
  text-decoration: underline;
}

.regular {
  font-style: normal;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.Verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.TNR {
  font-family: 'Times New Roman', Times, serif
}

.Mayan-Open{
  font-family: 'Mayan Open Sans', sans-serif;
}

.Babelstone {
  font-family: 'Babelstone Mayan', sans-serif;
}


/*
9. Color Palette
===========================
*/  


/* CSS HEX
dark-cyan: #0a9090;
davys-gray: #4a4a4a;
african-violet: #9f84bd;
white-smoke: #f2f0ef;
navy-blue: #150578;*/

/* CSS HSL
dark-cyan: hsla(180, 87%, 30%, 1);
davys-gray: hsla(0, 0%, 29%, 1);
african-violet: hsla(268, 30%, 63%, 1);
white-smoke: hsla(20, 10%, 94%, 1);
navy-blue: hsla(248, 92%, 25%, 1);*/

/* SCSS HEX
dark-cyan: #0a9090ff;
davys-gray: #4a4a4aff;
african-violet: #9f84bdff;
white-smoke: #f2f0efff;
navy-blue: #150578ff;*/

/* SCSS HSL 
dark-cyan: hsla(180, 87%, 30%, 1);
davys-gray: hsla(0, 0%, 29%, 1);
african-violet: hsla(268, 30%, 63%, 1);
white-smoke: hsla(20, 10%, 94%, 1);
navy-blue: hsla(248, 92%, 25%, 1);*/

/* SCSS RGB 
dark-cyan: rgba(10, 144, 144, 1);
davys-gray: rgba(74, 74, 74, 1);
african-violet: rgba(159, 132, 189, 1);
white-smoke: rgba(242, 240, 239, 1);
navy-blue: rgba(21, 5, 120, 1);
*/